<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caption This</title>
    <style>
      section:not(.visible) {
        display: none;
      }
    </style>
</head>
<body>
    <h1>Welcome to Caption This Online Game!</h1>

    <section id="join-section" class="visible">
      <!-- Will remove later on. -->
      <h4>Login Section</h4>
      <p>This is a section where player will enter their username and login to the game</p>
      
      <form id="join">
        <input type="text" name="username" id="username">
        <input type="submit" value="Join">
      </form>
    </section>

    <!--<hr>-->

    <section id="wait">
        <!-- Will remove later on. -->
        <h4>Waiting Section</h4>
        <p>This is a section where connected player will wait for others to join before the game begins (5 players). Player will also be able to fill the room with computers if it took too long to wait for others.</p>

        <h4 id="waitMsg">Wait for 0 more people...</h4>
        <!-- option to fill the room with COMs -->
        <button>Fill the room with COM (NOT YET)</button>
    </section>

    <!--<hr>-->
    
    <section id="caption">
        <!-- Will remove later on. -->
        <h4>Caption Section</h4>
        <p>This is a section where players will be able to give their caption idea based on the picture.</p>

        <img src="https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png" height="50%" width="500" alt="">
        <div class="caption">
            <form id="captionForm">
                <input type="text" name="caption" id="captionText">
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="info">
            <h4 id="captionSubmissions">0 captions</h4>
            <h4 id="captionTimer">00:00</h4>
        </div>
    </section>
    
    <!--<hr>-->
    
    <section id="vote">
        <!-- Will remove later on. -->
        <h4>Vote Section</h4>
        <p>This is a section where players will be able to vote captions (including their) based on the picture.</p>

        <img src="https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png" height="50%" width="500" alt="">
        <p>Options will appear here</p>
        <div id="voteOptions">
        </div>
        <div class="info">
            <h4 id="voteVotes">2 votes</h4>
        </div>
    </section>

    <!--<hr>-->

    <section id="win">
        <!-- Will remove later on. -->
        <h4>Win Section</h4>
        <p>This is a section where the game will determine the player(s) with the most votes.</p>

        <img src="https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png" height="50%" width="500" alt="">
        <h4 id="winCaption">{Win Caption(s) here}</h4>
        <h4 id="winners">{player(s)} win!</h4>
    </section>

    <!--<hr>-->

    <section id="leaderboard">
        <!-- Will remove later on. -->
        <h4>Leaderboard Section</h4>
        <p>This is a section where the game will display players from highest to lowest points.</p>

        <div id="leaderboardPlayers">
        </div>
        <button onClick="newGame(false)">Next</button>
    </section>
    
    <!--<hr>-->

    <section id="final">
        <!-- Will remove later on. -->
        <h4>Final Section (appears after 3 matches)</h4>
        <p>This is a final section where the game will determine player(s) with the most points to win the game.</p>

        <strong id="memelords">Congratulation! {player} will hereby unofficially called the great meme lord.</strong>
        <button onClick="newGame(true)">Reset Game</button>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript">
        var socket = io.connect("http://" + document.domain + ":" + location.port, {reconnection:false})
        var timer;

        socket.on("connect", function() {
            console.log("Websocket established!")
        })

        socket.on("message", function(data) {
            console.log(data)
            flag = data.flag

            if (flag == "done") {
                /*$("#leaderboard").css("background-color", "white")
                $("#final").css("background-color", "#ffcccc")*/
                $("#leaderboard").removeClass("visible");
                $("#final").addClass("visible");

                winners = data.game.memelords
                $("#memelords").text(`Congratulation! ${winners} will herby unofficially called the great meme lord!`)
            }

            if (flag == "reset") {
                /*$("#leaderboard").css("background-color", "white")
                $("#caption").css("background-color", "#ffcccc")*/
                $("#leaderboard").removeClass("visible");
                $("#caption").addClass("visible");
                reset()

                flag = "caption"
            }

            if (flag == "wait") {
                //$("#wait").css("background-color", "#ffcccc")
                $("#join-section").removeClass("visible")
                $("#wait").addClass("visible");
                $("#waitMsg").text(`Waiting for ${data.game.total_players - Object.keys(data.game.players).length} more players...`)
            }
            else if (flag == "caption") {
                /*$("#wait").css("background-color", "white")
                $("#caption").css("background-color", "#ffcccc")*/
                $("#join-section").removeClass("visible")
                $("#wait").removeClass("visible");
                $("#caption").addClass("visible");

                $("#captionSubmissions").text(`${Object.keys(data.game.captions).length} caption`)
                
                if (data.game.timer[0]) {
                    timer = startTimer(data.game.timer[1], $("#captionTimer"))
                } else {
                    $("#captionTimer").text(`${data.game.timer[1]} seconds`)
                }

            }
            else if (flag == "vote") {
                /*$("#caption").css("background-color", "white")
                $("#vote").css("background-color", "#ffcccc")*/
                $("#caption").removeClass("visible");
                $("#vote").addClass("visible");
                
                // stop the timer if not already
                stopTimer()

                $("#voteVotes").text(`${data.game.votes} votes`)

                if ($("#voteOptions").children().length == 0) {
                    var captions = data.game.captions
                    Object.keys(captions).forEach(function(key) {
                        var btn = $(`<button onClick="vote('${key}')">${captions[key][0]}</button>`)
                        $("#voteOptions").append(btn)
                    });
                }
            }
            else if (flag == "win") {
                /*$("#vote").css("background-color", "white")
                $("#win").css("background-color", "#ffcccc")*/
                $("#vote").removeClass("visible");
                $("#win").addClass("visible");

                $("#winCaption").text(`${data.game.win_captions}`)

                $("#winners").text(`${data.game.winners} win!`)

                setTimeout(switchToLeaderboard, 3 * 1000, data.game.players)
            }
        });

        $("#join").on("submit", function(e) {
            e.preventDefault()
            socket.emit("join", {username: $("#username").val()})
        })

        $("#captionForm").on("submit", function(e) {
            e.preventDefault()
            
            socket.emit("caption", {msg: $("#captionText").val()})

            $("#captionForm")[0].reset()
            $("#captionForm :input").prop("disabled", true);
        })

        function vote(player_id) {
            socket.emit("vote", {id: player_id})
            
            $("#voteOptions").children().prop('disabled',true);
        }

        function switchToLeaderboard(players) {
            /*$("#win").css("background-color", "white")
            $("#leaderboard").css("background-color", "#ffcccc")*/
            $("#win").removeClass("visible");
            $("#leaderboard").addClass("visible");

            if ($("#leaderboardPlayers").children().length == 0) {
                Object.keys(players).forEach(function(key) {
                    var div = $(`<div>${players[key][0]} - ${players[key][1]} points</div>`)
                    $("#leaderboardPlayers").append(div)
                })
            }
        }

        function startTimer(duration, display) {
            var x = setInterval(function() {
                display.text(`${duration} seconds`)
                if (--duration < 0) {
                    clearInterval(x)
                }
            }, 1000)
            return x
        }

        function stopTimer() {
            clearInterval(timer)
        }

        function newGame(newGame) {
            socket.emit("new", {newGame})
        }

        function reset() {
            // caption div
            $("#captionForm :input").prop("disabled", false);
            $("#captionSubmissions").text("0 captions")
            $("#captionTimer").text("60 seconds")
            
            // vote div
            $("#voteOptions").empty()
            $("#voteVotes").text("0 vote")
            
            // win div
            $("#winCaption").text("{Win Caption(s) here}")
            $("#winners").text("{player(s)} win!")
            
            // leaderboard div
            $("#leaderboardPlayers").empty()

            //hide final sectoin
            $("#final").removeClass("visible");
        }
    </script>
</body>
</html>