<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caption This</title>
    <style>
      section:not(.visible) {
        display: none;
      }
      #imgLabelContainer {
        display: grid;
        grid-template-columns: 500px 1fr;
        grid-template-areas: 
          "img labels";
      }
      #imgContainer {
        position: relative;
        overflow: hidden;
        margin-bottom: 5px;
      }
      img {
        width: 500px;
        flex-shrink: 0;
      }
      #imgTextboxMenu {
        flex-grow: 1;
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        grid-area: labels;
      }
      #imgGridArea {
        grid-area: img;
      }
      .imgTextboxContainer {
        position: relative;
      }
      .imgTextboxContent {
        display: inline-block;
        resize: vertical;
        height: 4em;
        width: calc(100% - 58px);
        padding: 5px;
      }
      input[type="color"] {
        display: none;
      }
      .color {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: 0 5px;
        border-radius: 5px;
        border: 1px solid gray;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      .label {
        position: absolute;
        margin: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        overflow: hidden; /* There should never be any overflow, but better safe than sorry */
        font-family: Arial, Helvetica, sans-serif;
        cursor: move;
        user-select: none;
      }
      #imgContainer:hover .label {
        margin: 0;
        border: 1px solid gray;
      }
      #offscreen {
        position: fixed;
        top: -5px;
        transform: translateY(-100%);
      }
      #label-offscreen {
        font-family: Arial, Helvetica, sans-serif;
      }
      #components {
        display: none;
      }
    </style>
</head>
<body>
    <h1>Welcome to Caption This Online Game!</h1>

    <div id="offscreen">
      <div id="label-offscreen">
        <div id="label-content-offscreen"></div>
      </div>
    </div>
    <div id="components">
      <div class="imgTextboxContainer">
        <textarea class="imgTextboxContent" placeholder="Caption"></textarea>
        <input type="color" class="color-input">
        <label class="color"></label>
      </div>
    </div>

    <section id="join-section" class="visible">
      <!-- Will remove later on. -->
      <h4>Login Section</h4>
      <p>This is a section where player will enter their username and login to the game</p>
      
      <form id="join">
        <input type="text" name="username" id="username">
        <input type="submit" value="Join">
      </form>
    </section>

    <section id="wait">
        <!-- Will remove later on. -->
        <h4>Waiting Section</h4>
        <p>This is a section where connected player will wait for others to join before the game begins (5 players). Player will also be able to fill the room with computers if it took too long to wait for others.</p>

        <h4 id="waitMsg">Wait for 0 more people...</h4>
        <!-- option to fill the room with COMs -->
        <button>Fill the room with COM (NOT YET)</button>
    </section>
    
    <section id="caption">
        <!-- Will remove later on. -->
        <h4>Caption Section</h4>
        <p>This is a section where players will be able to give their caption idea based on the picture.</p>
        <div id="imgLabelContainer">
          <div id="imgGridArea">
            <div id="imgContainer">
              <img src="https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png" alt="" class="captionable">
            </div>
            <div>
              <input type="submit" value="submit">
              <div class="info">
                <h4 id="captionSubmissions">0 captions</h4>
                <h4 id="captionTimer">00:00</h4>
              </div>
            </div>
          </div>
          <div id="imgTextboxMenu"></div>
        </div>
    </section>
    
    <section id="vote">
        <!-- Will remove later on. -->
        <h4>Vote Section</h4>
        <p>This is a section where players will be able to vote captions (including their) based on the picture.</p>

        <img src="https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png" height="50%" width="500" alt="">
        <p>Options will appear here</p>
        <div id="voteOptions">
        </div>
        <div class="info">
            <h4 id="voteVotes">2 votes</h4>
        </div>
    </section>

    <section id="win">
        <!-- Will remove later on. -->
        <h4>Win Section</h4>
        <p>This is a section where the game will determine the player(s) with the most votes.</p>

        <img src="https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png" height="50%" width="500" alt="">
        <h4 id="winCaption">{Win Caption(s) here}</h4>
        <h4 id="winners">{player(s)} win!</h4>
    </section>

    <section id="leaderboard">
        <!-- Will remove later on. -->
        <h4>Leaderboard Section</h4>
        <p>This is a section where the game will display players from highest to lowest points.</p>

        <div id="leaderboardPlayers">
        </div>
        <button onClick="newGame(false)">Next</button>
    </section>

    <section id="final">
        <!-- Will remove later on. -->
        <h4>Final Section (appears after 3 matches)</h4>
        <p>This is a final section where the game will determine player(s) with the most points to win the game.</p>

        <strong id="memelords">Congratulation! {player} will hereby unofficially called the great meme lord.</strong>
        <button onClick="newGame(true)">Reset Game</button>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript">
        var socket = io.connect("http://" + document.domain + ":" + location.port, {reconnection:false})
        var timer;

        // vars used for dragging and captions
        const labels = [];
        const labelInputs = [];
        let mousedown = false;
        let heldLabel;
        let imgXOffset;
        let imgYOffset;

        // Dragging code
        const onmousedown = event => {
          mousedown = true;
          if (event.target.classList.contains("label")) {
            heldLabel = event.target;
            const bcr = heldLabel.getBoundingClientRect();
            imgXOffset = (event.clientX || event.changedTouches[0].clientX) - bcr.x - scrollX;
            imgYOffset = (event.clientY || event.changedTouches[0].clientY) - bcr.y - scrollY;
          }
        }
        const onmouseup = event => {
          mousedown = false;
          heldLabel = undefined;
        }
        const onmousemove = function(event) {
          if (heldLabel && mousedown) {
            const bcr = heldLabel.getBoundingClientRect();
            const imgBcr = this.getBoundingClientRect();
            heldLabel.style.setProperty("left", (event.clientX || event.changedTouches[0].clientX) - scrollX - imgBcr.x - imgXOffset + "px");
            heldLabel.style.setProperty("top", (event.clientY || event.changedTouches[0].clientY) - scrollY - imgBcr.y - imgYOffset + "px");
          }
        }

        for (let img of Array.from(document.getElementsByClassName("captionable"))) {
          let section = img.parentNode;
          while (section.tagName !== "SECTION") {
            section = section.parentNode;
            if (section.tagName === "BODY") console.warn("Image ", img, " is not inside a <section> element. It is not captionable. ")
          }

          const observer = new MutationObserver(() => {
            if (section.classList.contains("visible")) document.getElementById("imgContainer").style.setProperty("height", img.clientHeight + "px");
          });
          observer.observe(section, {
            attributes: true,
            attributeFilter: [ "class" ],
            childList: false,
            characterData: false
          });

          img.parentNode.addEventListener("mousedown", onmousedown);
          img.parentNode.addEventListener("touchstart", onmousedown);
          img.parentNode.addEventListener("mousemove", onmousemove);
          img.parentNode.addEventListener("touchmove", onmousemove);
        }

        window.addEventListener("mouseout", event => {
          if (event.target === document.documentElement) onmouseup();
        });
        window.addEventListener("touchend", onmouseup);
        window.addEventListener("mouseup", onmouseup);

        // Add a textbox
        function addTextbox(img, boxes = []) {
          if (!(img instanceof HTMLImageElement)) throw new TypeError("Argument 1 of addTextbox must be of type HTMLImageElement, received type " + (img == null ? img : img.constructor.name));
          if (!Array.isArray(boxes)) throw new TypeError("Argument 2 of addTextbox must be of type Array, received type " + (boxes == null ? boxes : boxes.constructor.name));
          const container = img.parentNode;
          const boxElements = [];

          for (let box of boxes) {
            const boxEl = document.createElement("div");
            boxEl.classList.add("label");
            boxEl.style.setProperty("left", (box.x || 0) + "px");
            boxEl.style.setProperty("top", (box.y || 0) + "px");
            boxEl.style.setProperty("width", (box.width || img.clientWidth) + "px");
            boxEl.style.setProperty("height", (box.height || img.clientHeight) + "px");
            boxEl.style.setProperty("transform", `rotate(${box.angle || 0}deg)`);
            boxEl.style.setProperty("background-color", "transparent");
            boxEl.style.setProperty("color", "black");
            boxElements.push(boxEl);
            labels.push(boxEl);
            container.appendChild(boxEl);

            const inputs = document.getElementById("components").getElementsByClassName("imgTextboxContainer")[0].cloneNode(true);
            const radio = inputs.getElementsByTagName("input")[0];
            const id = "color-" + labelInputs.length
            radio.id = id;
            inputs.getElementsByTagName("label")[0].setAttribute("for", id);
            labelInputs.push(inputs);
            radio.addEventListener("change", function () {
              boxEl.style.color = this.value;
              this.labels[0].style.setProperty("background-color", this.value);
            });
            radio.dispatchEvent(new Event("change"));
            document.getElementById("imgTextboxMenu").appendChild(inputs);
            //labelInputs[0].parentNode.insertBefore(inputs, newButton);
            const textarea = inputs.getElementsByTagName("textarea")[0];
            textarea.value = "";
            boxEl.addEventListener("click", () => {
              textarea.focus();
            })
            textarea.addEventListener("input", () => {
              const txt = textarea.value;
              const outer = document.getElementById("label-offscreen");
              const inner = document.getElementById("label-content-offscreen");
              let size = boxEl.clientHeight;
              outer.style.setProperty("width", boxEl.clientWidth + "px");
              outer.style.setProperty("height", boxEl.clientHeight + "px");
              inner.innerText = txt;
              do outer.style.setProperty("font-size", --size + "px");
              while (inner.clientWidth > outer.clientWidth || inner.clientHeight > outer.clientHeight);
              boxEl.style.setProperty("font-size", size + "px");
              boxEl.innerText = txt;
            })
            textarea.dispatchEvent(new Event("input"));
          }

          return boxElements;
        };
        
        socket.on("connect", function() {
            console.log("Websocket established!")
        })

        socket.on("message", function(data) {
            console.log(data)
            flag = data.flag

            if (flag == "quit") {
                console.log("PLEASE REFRESH YOUR WEB BROWSER....")
            }

            if (flag == "done") {
                $("#leaderboard").removeClass("visible");
                $("#final").addClass("visible");

                winners = data.game.memelords
                $("#memelords").text(`Congratulation! ${winners} will herby unofficially called the great meme lord!`)
            }

            if (flag == "reset") {
                $("#leaderboard").removeClass("visible");
                $("#caption").addClass("visible");
                reset()

                flag = "caption"
            }

            if (flag == "wait") {
                $("#join-section").removeClass("visible")
                $("#wait").addClass("visible");
                $("#waitMsg").text(`Waiting for ${data.game.total_players - Object.keys(data.game.players).length} more players...`)
            }
            else if (flag == "caption") {
                $("#join-section").removeClass("visible")
                $("#wait").removeClass("visible");
                $("#caption").addClass("visible");

                $("#captionSubmissions").text(`${Object.keys(data.game.captions).length} caption`)
                
                if (data.game.timer[0]) {
                    timer = startTimer(data.game.timer[1], $("#captionTimer"))
                } else {
                    $("#captionTimer").text(`${data.game.timer[1]} seconds`)
                }

            }
            else if (flag == "vote") {
                $("#caption").removeClass("visible");
                $("#vote").addClass("visible");
                
                // stop the timer if not already
                stopTimer()

                $("#voteVotes").text(`${data.game.votes} votes`)

                if ($("#voteOptions").children().length == 0) {
                    var captions = data.game.captions
                    Object.keys(captions).forEach(function(key) {
                        var btn = $(`<button onClick="vote('${key}')">${captions[key][0]}</button>`)
                        $("#voteOptions").append(btn)
                    });
                }
            }
            else if (flag == "win") {
                $("#vote").removeClass("visible");
                $("#win").addClass("visible");

                $("#winCaption").text(`${data.game.win_captions}`)

                $("#winners").text(`${data.game.winners} win!`)

                setTimeout(switchToLeaderboard, 3 * 1000, data.game.players)
            }
        });

        $("#join").on("submit", function(e) {
            e.preventDefault()
            socket.emit("join", {username: $("#username").val()})
        })

        $("#captionForm").on("submit", function(e) {
            e.preventDefault()
            
            socket.emit("caption", {msg: $("#captionText").val()})

            $("#captionForm")[0].reset()
            $("#captionForm :input").prop("disabled", true);
        })

        function vote(player_id) {
            socket.emit("vote", {id: player_id})
            
            $("#voteOptions").children().prop('disabled',true);
        }

        function switchToLeaderboard(players) {
            $("#win").removeClass("visible");
            $("#leaderboard").addClass("visible");

            if ($("#leaderboardPlayers").children().length == 0) {
                Object.keys(players).forEach(function(key) {
                    var div = $(`<div>${players[key][0]} - ${players[key][1]} points</div>`)
                    $("#leaderboardPlayers").append(div)
                })
            }
        }

        function startTimer(duration, display) {
            var x = setInterval(function() {
                display.text(`${duration} seconds`)
                if (--duration < 0) {
                    clearInterval(x)
                }
            }, 1000)
            return x
        }

        function stopTimer() {
            clearInterval(timer)
        }

        function newGame(newGame) {
            socket.emit("new", {newGame})
        }

        function reset() {
            // caption div
            $("#captionForm :input").prop("disabled", false);
            $("#captionSubmissions").text("0 captions")
            $("#captionTimer").text("60 seconds")
            
            // vote div
            $("#voteOptions").empty()
            $("#voteVotes").text("0 vote")
            
            // win div
            $("#winCaption").text("{Win Caption(s) here}")
            $("#winners").text("{player(s)} win!")
            
            // leaderboard div
            $("#leaderboardPlayers").empty()

            //hide final sectoin
            $("#final").removeClass("visible");
        }
    </script>
</body>
</html>